.banner-slider {
  position: relative;
  .description-baner {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    p {
      font-size: 30px;
      text-transform: uppercase;
      font-family: Roboto, " Open Sans", arial;
    }
    h1 {
      font-family: Roboto, " Open Sans", arial;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 0;
      position: relative;
      padding-bottom: 28px;
      margin-bottom: 28px;
      color: #ffffff;
      &::after {
        width: 190px;
        background: #ffffff;
        bottom: 0;
        left: 50%;
        margin-left: -95px;
        height: 1px;
        content: "";
        position: absolute;
      }
    }
  }
  .iteam-img {
    img {
      width: 100%;
    }
  }
}

.content {
  .content-feature {
    .feature-intro {
      position: relative;
      color: #3e3e3e;
      font-size: 35px;
      font-weight: 300;
      text-align: center;
      line-height: normal;
      max-width: 945px;
      margin: 0 auto;
      padding-bottom: 30px;
      margin-bottom: 30px;
      &::after {
        background: url(../../../public/image/divide-side.png) no-repeat center
          bottom;
        height: 13px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -7px;
        content: "";
      }
    }
  }
  .mientrung-info,
  .tcvc-info,
  .transparency-info {
    .tranfer-info {
      text-align: center;
      padding: 30px 0;
      .title-tranfer {
        color: #ff0000;
        font-size: 30px;
        font-weight: 400;
      }
      .title-tranfer-nomal {
        color: #333;
        font-size: 30px;
        font-weight: 400;
      }
      .desc-info {
        font-size: 14px;
        margin: 4px 0;
      }
    }
  }

  .mientrung-info,
  .tcvc-info {
    margin-top: 30px;
    .tranfer-info {
      padding: 10px;
    }
    .show-total {
      text-align: center;
      .sms-total-in {
        color: green;
      }
      .sms-total-out {
        color: orange;
      }
    }

    .filter-list {
      .filter-search {
        display: flex;
        justify-content: space-between;
        .search-filter {
          width: 150px;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-bottom: 0;
        a {
          color: #333;
        }
      }
    }
  }

  .tcvc-info {
    margin-top: 60px;
  }

  .info-fund-banck {
    text-align: center;
    p {
      font-size: 20px;
    }
    .name-fund {
      font-size: 18px;
      font-weight: bold;
      white-space: pre-line;
    }
  }
  .form-total {
    .style-input {
      width: 100%;
      //   padding: 0 10px;
      font-size: 18px;
      input {
      }
      img {
        margin-left: 20px;
      }
      svg {
        font-size: 18px;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .Pay-QR {
    text-align: center;
    .sub-QR {
      img {
        height: 56px;
      }
    }
  }
  .show-total-input-out {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 30px;

    .filter-list {
      .filter-search {
        display: flex;
        justify-content: space-between;
        .search-filter {
          width: 150px;
        }
      }
    }

    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-bottom: 0;
        a {
          color: #333;
        }
      }
    }
  }

  .support-list {
    margin-top: 60px;
    .head-list-sup {
      text-align: center;
      p {
      }
    }
    .list-suport-total {
      .show-total {
        margin-top: 20px;
        text-align: center;
        .sms-total-in {
          color: green;
        }
        .sms-total-out {
          color: orange;
        }
      }
    }
  }
}

.detail-image {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  margin-bottom: 45px;
  img {
    // width: 100%;
  }
}

.sub-page {
  // margin-top: 45px;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  h3 {
    color: #333333;
    margin: 0 0 14px;
    font-size: 18px;
    font-weight: 700;
  }
  p {
    text-align: justify;
    font-size: 10px;
  }
}

.section-fearute {
  position: relative;
  .absulute-wrap {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    img {
      // padding: 20px;
    }
  }
}

.section-fearute-list {
  .item-f {
    color: #fff;
    background-color: #339967;
  }
  .box-item {
    max-width: 390px;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    .icon {
      // margin: 0 20px;
      margin-right: 20px;
      // display: flex;
      img {
        // width: 100%;
        // height: auto;
      }
    }
    .item-fear {
      // color: #fff;
      h3 {
        font-family: Roboto, " Open Sans", arial;
        display: block;
        font-weight: 400;
        line-height: 2;
        font-size: 18px;
      }
      p {
        font-size: 12px;
        // margin-left: 80px;
        line-height: 32px;
        margin-top: 10px;
      }
    }
  }
}

.footer {
  height: 500px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 992px;
    margin: 0 auto;
  }

  .container-xl {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .section-fearute {
    position: relative;
    .absulute-wrap {
      display: none;
    }
  }
}
